<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    @Html.ActionLink("Employees", "Employees")
    @Html.ActionLink("Students", "Students")
</body>
</html>